/* STOPKA */
/* MOBILE */
@media screen and (max-width: 1199px) {
    footer{
        padding: 5px 5px;
        color: var(--primary-color);
        background-image: linear-gradient(#293b97, #101b57);
        text-align:center;
        opacity:1;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;  
        height: 9vh;
        margin-top: auto;
        width: 100%;
        position: relative;
        bottom: 0rem;
        
        
    }
    #footer-social-icon > img{
        filter: invert(100%) sepia(0%) saturate(7489%) hue-rotate(49deg) brightness(124%) contrast(99%);
        height: 100%;
    }
    
    .footer_social{
        height: 40%;
    }
    
    .footer-copyright{
        justify-content: center;
        align-items: center;
        font-size: 1.5vh;
        color: white;
    }
    
    }
    /* PC */
    @media screen and (min-width: 1200px) {
        footer{
            padding: 5px 5px;
            color: var(--primary-color);
            background-image: linear-gradient(#293b97, #101b57);
            text-align:center;
            opacity:1;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column; 
            height: 9vh;
            bottom: 0;
            width: 100%;
            position: relative;
            bottom: 0rem;

        }
        #footer-social-icon > img{
            filter: invert(100%) sepia(0%) saturate(7489%) hue-rotate(49deg) brightness(124%) contrast(99%);
            height: 100%;
        }
        
        .footer_social{
            height: 40%;
        }
        
        .footer-copyright{
            justify-content: center;
            align-items: center;
            font-size: 1.5vh;
            color: white;
        }
    }